.app {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vh;
  background-color: #8ddce1;
}
 
.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0);
  min-height: 20vh;
  padding-top: 1%;
  padding-bottom: 1%;
  align-items: center;
  justify-self: center;
  background-position: center;
  background-size: cover;
}

.title {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  font-size: calc(10px + 4vmin);
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #38a9b5;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  border: 2px solid blue;
  width: 30%;
  height: 100%;
  justify-content: space-around;
  align-self: center;
  align-items: center;
}

.button {
  /* flex: 1; */
  border: 1px solid rgb(182, 189, 182);
  /* justify-self: center; */
  background-color: lime;
  /* width: 80; */
  height: 100%;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  border: 2px solid rgb(252, 166, 6);
  background-color: #b3eaee;
  height: 40vh;
  width: 80%;
  margin-top: 5vh;
  align-items: center;
  align-self: center;
  justify-self: center;
}

.single-product-container {
  border: 2px solid rgba(209, 206, 206, 0.829);
  width: 30%;
  height: 30vh;
  margin: 5%;
}

.product-title {
  color: #f79b05;
  font-size: calc(10px + 1vmin);
  /* border: 2px solid yellow; */
  text-align: flex-start;
  margin-left: 2%;
}

.footer {
}
